@charset "utf-8";

/* Bootstrap core CSS */
@import url("css/bootstrap.min-white.css");
@import url("css/jquery.smartmenus.bootstrap.css"); 

/* external css */
@import url("assets/font-awesome/css/font-awesome.css");

@import url(http://fonts.googleapis.com/css?family=Lato);

/*  --- userstyles --- */
#xh_adminmenu_fixed { z-index: 9999 !important;}
.navbar-static-top { z-index: 998; }

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color:     #333;
    background-color:#fcfcfc;
    width:100.01%;
}
.wrap {width:101%;height: auto; min-height: 100%;}

ul.nav.navbar-nav a {font-size:15px;}

li.sdoc{color:blue;background-color:white;text-align:left;max-width:300px;}

li.sdoc > span, li.sdocs > span {display: block;position: relative;
padding: 3px 20px; color:#1164b4; font-size:15px;
}

 /* -------------------header with jumbotron ---------------*/
.navbar.affix{
        top: 0px; /* Set the top position of pinned element */
        z-index: 9999;
        width: 100%;
 }
 
 .jumbotron {height:200px;
 padding-top: 50px;
 padding-bottom: 20px;
 margin-bottom: 30px;
 color: inherit;
 background-color: #428bca; /* or also image */
}

.header{height:200px;border-bottom:-50px !important;}	


	
.container {
  width:100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: -5px;
  margin-left: 5px;
  margin-top: -5px;
}
.content {
         box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
         margin-left:5px;
         margin-right:1px;
		 margin-bottom:1px;
         width:99%; 
		min-height:100vh;
}

.container-fluid {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1px;
  margin-left: 1px;
}

.footer{padding:20px; 
min-height:100px; 
border:1px lightgray solid;
position: static;
margin:auto;
padding: 1rem;
background-color: #dfdfdf;
box-shadow: 0 1px 2px rgba(0,0,0,.3); 
text-align: center;
}

h1,h2,h3{font-size:18px;}

/* ---media ------------*/

@media only screen and (max-width: 768px) {
	
ul.menulevel1{padding:3px; border:1px red dotted;}
	
ul.menulevel1 {padding:10px;border:1px #799bb8 solid; 
                border-radius:3px;margin:5px;} }

ul.menulevel2 li a.has-submenu::after { 
    font-family: FontAwesome;
	content: "\f105";
	font-size:16px; font-weight:bolder;
	display: inline-block;
   padding-left: 5px;
    padding-bottom: 3px;
   vertical-align: middle;
  }
  
ul.menulevel3 li a.has-submenu::after { 
    font-family: FontAwesome;
	content: "\f105";
	font-size:16px;
	display: inline-block;
   padding-left: 5px;
    padding-bottom: 3px;
   vertical-align: middle;
  }  
  
ul.menulevel4 li a.has-submenu::after { 
    font-family: FontAwesome;
	content: "\f105";
	font-size:16px;
	display: inline-block;
   padding-left: 5px;
    padding-bottom: 3px;
   vertical-align: middle;
  }    
  
/* menulevel 1 */  
a.has-submenu::after { 
    font-family: FontAwesome;
	content: "\f107";
	font-size:18px; font-weight:bolder;
	display: inline-block;
   padding-left: 2px;
   vertical-align: middle;
  }

a.xhspan::after { 
   font-family: FontAwesome;
   content: " " !important;
   font-size:18px;
   display: inline-block;
   padding-left: 2px;
   vertical-align: middle;
  } 

/*  Back-to-top */
#to-top {
    display:none;
    position:fixed;
    bottom:30px;
    right:30px;
    height:40px;
    width:40px;
    cursor:pointer;
    background:rgba(107, 107, 127,0.8);
    line-height:1em;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-image:url( assets/img/triangle.png);
    background-position: 12px 16px;
    background-repeat:no-repeat;
    opacity:0.7;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


#to-top:hover {
    background-color:#d3d3d3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity:0.8;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


