@import 'css/https___raw_githubusercon.css';
@import 'css/sm-core-css.css';
@import 'css/sm-simpl.css';
@import 'css/simplegrid.css';


/* .......................userstyles............... */

#span { font-size: 16px; line-height: 20px;
	}
.next{opacity: 1.0;}
.top {opacity: 1.0;}
.previous {opacity: 1.0;}	
	
h1, h2, h3 	 { font-size: 16px; line-height: 20px;	}

html { height: 100%; }

body {
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height] 
	max-width:1600px; 
    font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Arial, sans-serif;	
}

	
#myBtn {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 50px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #faf8f5;
  color: black;
  cursor: pointer;
  padding: 12px;
  border-radius: 10px;
-webkit-box-shadow: 3px 3px 17px -2px rgba(200,204,186,1);
-moz-box-shadow: 3px 3px 17px -2px rgba(200,204,186,1);
box-shadow: 3px 3px 17px -2px rgba(200,204,186,1);
}
#myBtn:hover {
background-color: #555;}


.sm-simple  a:hover:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
		background:transparent;color:#333 !important;
        box-shadow: inset 0 -2px 0 #4080bf;		
}

.nav li a:hover {background:transparent;}

.wrap {background-color: #f5f5f5;
max-width:1200px;
margin-right: auto; /* 1 */
margin-left:  auto; /* 1 */  
padding-top:  3px; /* 1 */
padding-right: 1px; /* 3 */
padding-left:  1px; /* 3 */
  
-webkit-box-shadow: 0px 2px 7px -1px rgba(196,192,196,1);
-moz-box-shadow: 0px 2px 7px -1px rgba(196,192,196,1);
box-shadow: 0px 2px 7px -1px rgba(196,192,196,1);
}

.headerwrap{background-color: white;
 padding:15px;min-height:60px;
 max-width:1200px;
 -webkit-box-shadow: 0px 2px 7px -1px rgba(219,215,219,1);
-moz-box-shadow: 0px 2px 7px -1px rgba(219,215,219,1);
box-shadow: 0px 2px 7px -1px rgba(219,215,219,1);
}
.head{background:#87cebb;padding:5px; }

.sm-simple {    /* Nachstyle nav */
    border: 1px solid transparent;
    border-bottom-color: rgb(187, 187, 187);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background: #fff;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.main-menu-btn-icon, .main-menu-btn-icon::before, .main-menu-btn-icon::after {
background: gray !important;}  /* Nachstyle hamburger color */
	
.main-nav ul li a {color:white;}
	
.main-nav ul ul li a {color:#333;}

/* #main-menu{width:100%;background: linear-gradient(to bottom, #f0f0d0 0%, #d8ecf3 100%);} */
#main-menu{width:100.222%;margin-left:-1px;
background-image: linear-gradient(to bottom, #336699, #336699);
background-repeat: repeat-x;}

.sticky {
  position: -webkit-sticky;
  position: sticky;
    top: 0;
}
	
#side1{background:#fcfcfc; margin-left:-2px;margin-right:-1px;
order-right: 1px solid silver;}
#side2{background:#fcfcfc; margin-left:0;margin-right:-1px;
border-left: 1px solid silver;}

#side1, #side2{overflow-y:hidden;}  

#side1, #side2, #content{ padding:10px;
webkit-box-shadow: 0px 2px 7px -1px rgba(219,215,219,1);
-moz-box-shadow: 0px 2px 7px -1px rgba(219,215,219,1);
box-shadow: 0px 2px 7px -1px rgba(219,215,219,1); }

#content {
  max-width: 1200px;
   min-height:calc(100vh - 50px);
   margin-left: 2px;
   margin-right: 1px;
   background: #fdfdfd;   
    }

/*  ----  search ---- */
#search {display: inline-block;
    position:relative;
    margin:8px 5px 8px;
	}
#searchfield {width:auto;}

#search input {
    top:0; /* shift both fields*/
    background: white;
    border: 1px solid #aaa;
    cursor: text;
    padding:1px 0 1px 5px;
    color:#888;
    border-radius: .4em;
	line-height:24px;
}
#search input:hover {
    border: 1px solid lightgray; 
}
#search input:focus {
    border: 1px solid #d8ecf3;
    color:black;
}
#search input.submit {background-color:#fafafa;
   line-height:22px;;padding-left:4px;padding-right:5px;
			color:#333;}

#search .button { position: absolute;
    top:4px;     width:20px;
    background:none;
    border:none;
    cursor:pointer;
    z-index:10;
}
#search .button:hover {
    border:none;
}


.clearing { clear: both; }

.subnav{border: 1px silver dotted;}
.next a, .previous a, .footer a{text-decoration:none;}
.next a, .previous a{font-size:0.9em;}

/* ---------------  footer  --------------- */
.footer{ background:#538cc6; 
background-image: linear-gradient(transparent 9px, rgba(220,220,200,.4) 10px, transparent 10px), 
linear-gradient(90deg, transparent 9px, rgba(220,220,200,.4) 10px, transparent 10px);
background-size: 100% 10px, 10px 100%;
background-attachment: fixed-;
border: 1px silver dotted;
box-shadow: 0 0 2px 0 rgba(0,0,0,.4);
}
.footer a{color:white;
font-size:0.9em;}
/* ---------------small mode ---------------*/
@media only screen and (max-width: 768px) {
#side1{background:#fcfcfc; margin-left:-1px; margin-right:-1px; height:auto;}
#side2{background:#fcfcfc; margin-left:-1px; margin-right:-5px; height:auto;}
#content {min-height:300px;}
.main-nav ul ul li a, .main-nav ul ul li a:hover {color:white;}
}