body.xh_login div.xh_login {
    width: 30em;
    margin: 2em auto 0 auto;
}

/*
 * Adminmenu
 */


#xh_adminmenu_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
}

#xh_adminmenu {
    width: 100%;
    background-color: blue;
    font-size: 14px;
    padding: 0;
    margin: 0;
    overflow: visible;
    border-bottom: 1px solid #aaa;
    color: #d3d7cf;
}

#xh_adminmenu ul {
    height: 36px;
    list-style-type: none !important;
    list-style-image: none;
    font-family: arial, sans-serif;
    font-style: normal;
    margin: 0;
    padding-bottom:0;
    background-color: #2c539e; /* header background blue */
	z-index: 999999;
}



#xh_adminmenu span {
    cursor: default;
}

#xh_adminmenu ul ul {
    list-style-type: none !important;
    height: 0;
    left: 0;
    position: absolute;
    top: 36px;
    margin: 0;
	padding:0;
    z-index: 999999;
    visibility: hidden;
}


